@font-face {
    font-family: 'Proxima Nova';
    src: 
     url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }