@import 'base/fonts';


* {
    font-family: 'Proxima Nova';
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 1753px;
    height: 1387px;
    margin: 0in 0in 0in 0in;
    background: #F8FBFF;
}


@import 'blocks/sertificate';

@media print {
    @page {
        orientation: landscape;
        width: 1753px;
        height: 1387px;
        margin: 0in 0in 0in 0in;
    }
}