.sertificate{
    &__header {
        width: 100%;
        padding-top: 66px;
        padding-left: 80px;
        padding-bottom: 57px;
        height: 160px;
        position: relative;
        &_title {
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: #023EFB;
        }
        .header__breakthrough, .header__rlo {
            position: absolute;
            top: 48px;
            width: 281px;
            left: 736px;
            display: block;
            width: 97px;
            height: auto;
        }
        .header__rlo {
            left: 883px;
            display: block;
            width: 134px;
            top: 58px;
        }
        &_id {
            font-size: 32px;
            line-height: 39px;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: #023EFB;
            position: absolute; 
            left: 1335px;
            top: 66px;
            &-value {
                position: absolute;
                top: 58px;
                right: 96px;
                padding: 14px 22px;
                margin-left: 7px;
                background: rgba(2, 62, 251, 0.1);
                border-radius: 26px;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: #023EFB;
                text-align: center;
                letter-spacing: normal;
                text-transform: lowercase;
            }
        }
    }
    &__body {
        padding-top: 66px;
        padding-left: 80px;
        background: #282835;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        position: relative;
        &_bg {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            width: 537px;
            height: 597px;
        }
        &_persone {
            width: 1100px;
            font-weight: 600;
            font-size: 90px;
            line-height: 100px;
            color: #F8FBFF;
        }
        &_info {
            max-width: 836px;
            margin-top: 61px;
        }
        &_item {
            display: inline-block;
            margin-bottom: 42px;
            &:first-child {
                margin-right: 86px;
            }
            &:nth-child(3) {
                margin-right: 112px;
            }
            &>.subtitle {
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: #7A7A99;
            }
            &>.value {
                margin-top: 8px;
                font-weight: normal;
                font-size: 29px;
                line-height: 37px;
                color: #F8FBFF;
            }
        }
        &_place {
            margin-top: 74px;
            position: relative;
            &>.place_value {
                font-weight: 600;
                font-size: 250px;
                line-height: 183px;
                color: #F8FBFF;
                margin-left: -12px;
            }
            &>.place_info {
                position: absolute;
                left: 630px;
                top: 66px;
                padding-left: 28px;
                font-size: 32px;
                line-height: 45px;
                color: #7A7A99;
                &>b {
                    display: block;
                    font-weight: 600;
                    font-size: 60px;
                    line-height: 73px;
                    color: #F8FBFF;
                }
            }
        }

    }
    &__footer {
        background: #282835;
        padding-top: 137px;
        padding-bottom: 137px;
        margin-top: -1px;
        padding-left: 80px;
        position: relative;
        height: 274px;
        // &_wrapper {
        //     position: relative;
        // }
        .footer_education {
            position: absolute;
            width: 193px;
            height: auto;
            left: 80px;
            top: 143px;
        }
        .footer_vk{
            position: absolute;
            width: 48px;
            height: auto;
            left: 322px;
            top: 152px;
        }
        .footer_breakthrough{
            position: absolute;
            width: 97px;
            height: auto;
            left: 421px;
            top: 141px;
        }
        .footer_raec {
            position: absolute;
            width: 133px;
            height: auto;
            left: 570px;
            top: 154px;
        }
        .footer_RLO {
            position: absolute;
            width: 134px;
            height: auto;
            left: 752px;
            top: 151px;
        }
        &_links {
            width: 341px;
            position: absolute;
            bottom: 64px;
            right: 77px;
            &>a {
                font-weight: normal;
                font-size: 24px;
                line-height: 37px;
                color: #7A7A99;
                text-decoration: none;
            }
        }
    }
}
